body {
  background-color: lavenderblush;
}

.parent {
  position: absolute;
  left: 15%;
  width: 70%;
}

h1 {
  text-align: center;
  color: palevioletred;
}

.add-todo {
  position: relative;
  left: 5%;
  font-size: 25px;
}

.fa-check {
  position: relative;
  float: left;
  margin-right: 1%;
}

.input {
  box-shadow: 0 0 10px rgba(0,0,90,0.5);
  width: 75%;
  font-size: 25px;
  outline: none;
  border: 0;
}

.addBtn {  
  font-size: 25px;
  border: 0;
  color: rgb(70, 70, 70);
  background-color: white;
  outline: none;

}


ul {
  box-shadow: 0 0 10px rgba(0,0,90,0.5);

    list-style-type: none;
    padding-left: 0px;
    color: #555;
    font-size: 22px;
    border: 1px solid #dedede;
    font-family: courier, monospace;
    background-color: white;
}

li { 
  font-size: 25px;
  font-weight: bold;
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  word-wrap:break-word;
}

li:hover {
  background-color: #f0f0f0;
  -ms-transform: scale(1.01); /* IE */
  -moz-transform: scale(1.01); /* FF */
  -webkit-transform: scale(1.01); /* Safari and Chrome */
  -o-transform: scale(1.01); /* Opera */
  transform: scale(1.01);
}

.checkbox {
  margin-right: 20px;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
}

.checked {
  text-decoration: line-through;
}

.item-input{
  width: 75%;
  font-size: 25px;
  background-color: white;
  border: 0;
  outline: none;
}

.fa-trash {
  position: relative;
  float: right;
}
  
.select {
  background-color: #ccc;
  box-shadow: 0 0 10px rgba(0,0,90,0.5);
}